# Log file
xud-simnet-bot.log

# Config file
xud-simnet-bot.toml

# Database file
xud-simnet-bot.json

# Temporary keystore files
tmpKeyStore/

# Dependency directory
vendor/

# Compiled binaries
xud-simnet-bot

# VS Code configuration
.vscode

# GoLand configuration
.idea
